@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");
.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 100%;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  height: 100%;
  padding: 0 30px;
}

.burger {
  display: none;
}

.logo {
  font-family: Orbitron;
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  position: relative;
  z-index: 50;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.logo:hover {
  -webkit-transform: rotate(360deg) scale(1.4);
          transform: rotate(360deg) scale(1.4);
  background: linear-gradient(97deg, #F86CF8 12.04%, #64CEF5 81.84%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  display: inline-block;
  padding: 16px 30px;
  border-radius: 5px;
  font-size: 20px;
  color: #FFF;
  font-weight: 500;
  background: linear-gradient(97deg, #D10ED1 12.04%, #10A3DA 81.84%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.button--border {
  border-radius: 5px;
  border: 1px solid #D10ED1;
  background: transparent;
}

.content--center {
  text-align: center;
}

.header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(16.39%, #010208), color-stop(20.51%, #010206), color-stop(24.79%, #040008), color-stop(30.46%, #010101), color-stop(34.11%, #010101), color-stop(36.21%, #010101), to(#010101));
  background: linear-gradient(180deg, #010208 16.39%, #010206 20.51%, #040008 24.79%, #010101 30.46%, #010101 34.11%, #010101 36.21%, #010101 100%);
  color: #FFF;
  font-family: Poppins;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.main {
  color: #FFF;
  font-family: Poppins;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(16.39%, #010208), color-stop(20.51%, #010206), color-stop(24.79%, #040008), color-stop(30.46%, #010101), color-stop(34.11%, #010101), color-stop(36.21%, #010101), to(#010101));
  background: linear-gradient(180deg, #010208 16.39%, #010206 20.51%, #040008 24.79%, #010101 30.46%, #010101 34.11%, #010101 36.21%, #010101 100%);
}

.about__us {
  padding: 116px 0 166px 0;
}

.about__work {
  padding-bottom: 186px;
}

.about__activiti {
  padding-bottom: 229px;
}

.footer {
  background: #090823;
  color: #FFF;
  font-family: Poppins;
}

/* =====================================HEADER==============================================*/
.header__top {
  position: relative;
}
.header__top::before {
  position: absolute;
  content: "";
  width: 886px;
  height: 896px;
  border-radius: 896px;
  background: radial-gradient(40.17% 39.79% at 50% 50%, rgba(170, 20, 240, 0.28) 0%, rgba(170, 20, 240, 0) 100%);
  top: -500px;
  left: 300px;
}

.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 42px 0;
}

.header__top-nav {
  position: relative;
  z-index: 50;
}

.header__top-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
}

.header__top-items {
  height: 100%;
  margin-right: 50px;
  font-size: 16px;
  font-weight: 400;
  -webkit-animation: hover 1.5s infinite alternate 0.3s;
          animation: hover 1.5s infinite alternate 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__top-items:last-child {
  margin-right: 0;
}
.header__top-items:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.header__top-items:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

@-webkit-keyframes hover {
  0% {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(12.04%, #F86CF8), color-stop(81.84%, #64CEF5));
    background: linear-gradient(0deg, #F86CF8 12.04%, #64CEF5 81.84%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient(97deg, #F86CF8 12.04%, #64CEF5 81.84%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes hover {
  0% {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(12.04%, #F86CF8), color-stop(81.84%, #64CEF5));
    background: linear-gradient(0deg, #F86CF8 12.04%, #64CEF5 81.84%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient(97deg, #F86CF8 12.04%, #64CEF5 81.84%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.header__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  z-index: 50;
}

.header__body-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__body-content {
  max-width: 530px;
  margin-right: 15px;
}

.header__body-title {
  font-family: Orbitron;
  font-size: 45px;
  font-weight: 600;
  line-height: 68px;
  margin-bottom: 18px;
}
.header__body-title span {
  background: linear-gradient(97deg, #F86CF8 12.04%, #64CEF5 81.84%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__body-subtitle {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 48px;
}

.header__body-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.header__body-button {
  margin-right: 16px;
}
.header__body-button:last-child {
  margin-right: 0;
}

.header__body-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__body-item {
  max-width: 78px;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-right: 68px;
}
.header__body-item span {
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}
.header__body-item:last-child {
  margin-right: 0;
}

.header__body-image {
  position: relative;
  max-width: 566px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__body-image::before {
  position: absolute;
  content: url(..//icon/stars.svg);
  width: 64px;
  height: 73px;
  top: 126px;
}
.header__body-image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__body-image--gradient {
  position: absolute;
  width: 1032px;
  height: 1046px;
  left: 410px;
  bottom: -180px;
  border-radius: 1046px;
  background: radial-gradient(40.17% 39.79% at 50% 50%, rgba(170, 20, 240, 0.28) 0%, rgba(170, 20, 240, 0) 100%);
}

.header__body-image--blur {
  position: absolute;
  bottom: -100px;
  width: 546px;
  height: 283px;
  background: #000;
  -webkit-filter: blur(100px);
          filter: blur(100px);
}

.header__body-img {
  position: relative;
}

/* =====================================MAIN==============================================*/
/*====================================about__us======================================== */
.about__us-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__us-image {
  position: relative;
  min-width: 534px;
  height: 440px;
}

.about__us-image--gradient {
  position: absolute;
  width: 832px;
  height: 600px;
  left: -810px;
  bottom: 20px;
  border-radius: 1046px;
  background: radial-gradient(40.17% 39.79% at 50% 50%, rgba(170, 20, 240, 0.28) 0%, rgba(170, 20, 240, 0) 100%);
}

.about__us-first {
  position: relative;
  width: 302px;
  height: 324px;
}
.about__us-first svg {
  position: absolute;
  top: 0;
  left: 0;
}

.about__us-second {
  position: relative;
  width: 313px;
  height: 334px;
  bottom: 215px;
  left: 222px;
}
.about__us-second svg {
  position: absolute;
  bottom: 0;
  right: 0;
}

.about__us-first__image {
  position: absolute;
  top: 12px;
  left: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.about__us-first__image:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}
.about__us-first__image:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.about__us-second__image {
  position: absolute;
  bottom: 16px;
  right: 12.5px;
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.about__us-second__image:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}
.about__us-second__image:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.about__us-content {
  margin-left: 25px;
}

.about__us-content-box {
  max-width: 520px;
  margin-bottom: 52px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.about__us-content-box:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.content__title {
  font-family: Orbitron;
  font-size: 35px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 16px;
}
.content__title span {
  background: linear-gradient(97deg, #F86CF8 12.04%, #64CEF5 81.84%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.content__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/*======================================about__work======================================== */
.about__work-content-box {
  margin-bottom: 87px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.about__work-content-box:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.about__work__box-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__work__box-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 374px;
  padding: 20px 20px 0 20px;
  background: #090823;
  margin-bottom: 30px;
  border-radius: 0px 15px 0px 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.about__work__box-list:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.about__work__box-list:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 10px 30px 2px rgb(108, 0, 117);
          box-shadow: 0px 10px 30px 2px rgb(108, 0, 117);
}
.about__work__box-list:hover .about__work__box-title {
  background: linear-gradient(97deg, #F86CF8 12.04%, #64CEF5 81.84%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about__work__box-list:hover .about__work__box-btn {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.about__work__box-image {
  border-radius: 0px 15px 0px 0px;
  margin-bottom: 23px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__work__box-title {
  font-family: Orbitron;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}

.about__work__box-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 28px;
}

.about__work__box-btn {
  margin-bottom: 37px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.about__work__box-button {
  margin-right: 13px;
}
.about__work__box-button:last-child {
  margin-right: 0;
}

.about__work__box-button--small {
  padding: 14px 18px;
  font-size: 16px;
}

/*======================================about__activiti======================================== */
.about__activiti-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__activiti__content-box {
  max-width: 560px;
  margin-bottom: 55px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.about__activiti__content-box:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

/*======================================FOOTER======================================== */
.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 110px 0;
}

.footer__logo-box {
  max-width: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo--color {
  background: linear-gradient(97deg, #F86CF8 12.04%, #64CEF5 81.84%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Orbitron;
  font-size: 50px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__logo--color:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.footer__logo-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu-item {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}
.footer__menu-item:last-child {
  margin-bottom: 0;
}

.footer__menu-item--gradient {
  -webkit-animation: hover 1.5s infinite alternate 0.3s;
          animation: hover 1.5s infinite alternate 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__menu-item--title {
  font-family: Orbitron;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 21px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__menu-item--title:hover {
  background: linear-gradient(97deg, #F86CF8 12.04%, #64CEF5 81.84%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer__menu__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.footer__menu__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 21px;
}
.footer__menu__social-item:last-child {
  margin-right: 0;
}

.footer__menu-img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__menu-img:hover {
  -webkit-filter: drop-shadow(3px 3px 10px #dd03fa);
          filter: drop-shadow(3px 3px 10px #dd03fa);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.reserved {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

/*======================================Adaptive======================================== */
@media (max-width: 1505px) {
  .header__top::before {
    left: 0;
  }
}
@media (max-width: 1235px) {
  .about__work__box-cards {
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(2, 1fr);
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__top::before {
    left: 0;
  }
}
@media (max-width: 1174px) {
  iframe {
    width: 950px;
    height: 650px;
  }
  .header__top::before {
    left: 0;
  }
}
@media (max-width: 1118px) {
  .header__top::before {
    left: 0;
  }
  .header__body-inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .header__body-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
  }
  .header__body-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__body-item {
    margin-right: 50px;
  }
  .header__body-item:last-child {
    margin-right: 0;
  }
  .header__body-image {
    display: none;
  }
  .about__us {
    padding-top: 5px;
  }
  .about__us-inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__us-image {
    margin-bottom: 80px;
    margin-right: 10px;
  }
  .about__us-content {
    margin-left: 0;
    text-align: center;
  }
  .about__us-content {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-inner {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(3, 1fr);
    justify-items: center;
    padding: 80px 0;
  }
  .footer__logo-box {
    grid-column: span 3;
    margin-bottom: 50px;
    text-align: center;
  }
}
@media (max-width: 960px) {
  .burger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 150;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .burger--follow {
    top: 15px;
    right: 15px;
    -webkit-box-shadow: 0 1px 8px #a1a1a1;
            box-shadow: 0 1px 8px #a1a1a1;
    background-color: #fff;
  }
  .burger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #424551;
    border-radius: 3px;
    margin: 4px 0;
  }
  .burger::before,
  .burger::after {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background-color: #424551;
    border-radius: 3px;
  }
  .header__top {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 100;
    min-width: 310px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__top--open {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    background-image: linear-gradient(109.6deg, rgb(1, 139, 133) 11.2%, rgb(110, 123, 251) 100%);
  }
  .header__top-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80%;
    padding: 100px 0;
  }
  .header__top-logo {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 180px;
  }
  .header__top-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .button {
    font-size: 16px;
  }
  .header__top-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .header__top-items {
    margin-right: 0;
    padding: 20px;
    font-size: 22px;
    font-weight: 600;
    -webkit-animation: none;
            animation: none;
  }
  .header__body-title {
    font-size: 32px;
    line-height: 40px;
  }
  .header__body-subtitle {
    font-size: 18px;
  }
  .header__body-item {
    font-size: 17px;
  }
  .header__body-item span {
    font-size: 20px;
  }
  .about__us-image {
    margin-right: 0;
  }
  iframe {
    width: 750px;
    height: 650px;
  }
  .footer-inner {
    grid-template: repeat(3, 1fr)/repeat(4, 1fr);
  }
  .footer__logo-box {
    grid-column: span 4;
  }
  .footer__menu-list {
    grid-column: span 2;
    margin-bottom: 60px;
  }
  .footer__menu__social {
    grid-column: span 4;
    text-align: center;
  }
  .footer__menu__social-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 841px) {
  .about__work__box-cards {
    grid-template: repeat(6, 1fr)/repeat(1, 1fr);
  }
  .content__title {
    font-size: 30px;
  }
  .content__subtitle {
    font-size: 18px;
  }
}
@media (max-width: 760px) {
  iframe {
    width: 630px;
    height: 520px;
  }
}
@media (max-width: 645px) {
  iframe {
    width: 530px;
    height: 420px;
  }
}
@media (max-width: 545px) {
  .about__us {
    padding-bottom: 130px;
  }
  .about__us-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 350px;
    margin-bottom: 0;
  }
  .about__us-image svg {
    display: none;
  }
  .about__us-first__image {
    position: static;
    -webkit-box-shadow: 13px 8px 8px #ff00f7;
            box-shadow: 13px 8px 8px #ff00f7;
    border-radius: 0 30px 0 30px;
  }
  .about__us-first__image:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .about__us-first__image:active {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .about__us-second {
    display: none;
  }
  .about__work {
    padding-bottom: 130px;
  }
  iframe {
    width: 420px;
    height: 320px;
  }
}
@media (max-width: 451px) {
  .footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__menu-list {
    text-align: center;
  }
  .about__activiti {
    padding-bottom: 130px;
  }
  iframe {
    width: 320px;
    height: 220px;
  }
}
@media (max-width: 351px) {
  .about__work__box-button--small {
    padding: 10px 10px;
  }
}
@media (max-width: 321px) {
  iframe {
    width: 230px;
    height: 220px;
  }
}
@media (max-width: 317px) {
  .about__work__box-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .about__work__box-button--small {
    margin-bottom: 12px;
    margin-right: 0;
  }
  .footer__logo--color {
    font-size: 33px;
  }
  .footer__logo-text {
    font-size: 15px;
  }
}